form{
    display: flex;
    flex-direction: column;
    width: 15%;
    

}
label{
    margin-top: 10px;
}
button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5%;
    cursor: pointer;
}
